<div id="footer" >
    <div class="container text-center">
        <div class="col-md-4">
            <h3>Direccion</h3>
            <div class="contact-item">
                <p>San Cayetano alto, edificio 8</p>
                <p>3er piso de la Universidad Técnica
                    Particular de Loja</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Horas Abiertas</h3>
            <div class="contact-item">
                <p>Lunes - Viernes: 10:00 AM - 17:00 PM</p>
                <p>Sabado: 11:00 AM - 02:00 PM</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Informacion - Contactos</h3>
            <div class="contact-item">
                <p>Telefono: +1 123 456 1234</p>
                <p>Correo  : paulcollaguazo95@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center copyrights"style='background:  #EB6A16 !important'>
        <div class="col-md-8 col-md-offset-2">
            <div class="social">
                <ul>
                    <li><a href="http://www.fb.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.gmail.com"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <p>&copy; T E L I A  todos los derechos reservados <a href="http://www.fb.com" rel="nofollow">Contactanos</a></p>
        </div>
    </div>
</div>