<nav id="menu" class="navbar navbar-default navbar-fixed-top"style="background: black !important">
    <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a href="/"><img src="/img/logo.png" alt="" style="width: 120px; height: 40px"></a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="page-scroll">Inicio</a></li>

                <li><a href="/verActores">Actores</a>
                </li>
                <li><a href="/obras">Obra</a>
                </li>
                
                <li><a>Reservas</a>
                    <ul>
                        <li><a href="/RESERVAR" style="padding: 15px !important"> RESERVAR</a></li>
                        <li><a href="/MISRESERVAS" style="padding: 15px !important">MIS RESERVAS</a></li>
                    </ul>
                </li>

                <li><a href="/galeria" class="page-scroll">Galeria</a></li>
                <li><a href="/noticia" class="page-scroll">Noticias</a></li>
                
                
                   <li><a>Cuenta</a>
                    <ul>
                        <li><a href="/perfil" style="padding: 15px !important">Mi Perfil</a></li>
                        <li><a href="/cerrar" style="padding: 15px !important">Cerrar Sesión</a></li>
                    </ul>
                </li> 
            </ul>
        </div>
        <!-- /.navbar-collapse --> 
    </div>
</nav>
