<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1><img src="img/logo.png" alt=""></h1>
                        <p><i>Teatro Laboratorio e Investigacion Actoral</i></p>
                        <p><b>INVESTIGA, SIENTE Y CREA</b></p>
                        <a href="#about" class="btn btn-custom btn-lg page-scroll">Más sobre TELIA</a> </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 ">
                <div class="about-img"><img src="img/chaviano.jpg" style='height: 500px !important; width: 500px !important' class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h2>Sobre Telia</h2>
                    <hr>
                    <p>Teatro – Estudio, Laboratorio e Investigación Actoral es fundada el 10 de septiembre de 2015 por su mentor,
                        creador y director Mgtr. Alain Chaviano Aldonza con la idea de convertirse en 
                        líderes de la formación profesional actoral en la región sur del Ecuador, conjugando dos aspectos
                        fundamentales: El laboratorio y la investigación.</p>
                    <p>
                        Consideramos que la diversidad es enriquecedora y es una parte vital por lo 
                        que nos hace ser uno de los líderes en la formación profesional.
                        Animamos a todas las personas para que tengan la oportunidad para 
                        el desarrollo personal independientemente de la edad, los antecedentes, 
                        discapacidad, género, nacionalidad, ideología política, raza, creencias 
                        religiosas u orientación sexual. Damos la bienvenida a las solicitudes de
                        todos los aspirantes con discapacidad, actores profesionales y amateurs, 
                        investigadores de las artes escénicas y público en general, les animamos a 
                        divulgar la información pertinente acerca de la labor que realiza Teatro 
                        Estudio Laboratorio e Investigación Actoral.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
