<section id="banner" style="background: url(../img/intro-obra.jpg) center center !important;background-size:cover !important">
    <div class="inner">
        <header>
            <h2 style="color: white; font-weight: bold">Registrar Obra</h2>
        </header>
        <form class="login100-form validate-form" id='fomr_Registro' method='POST' action='/registro/guardarObra' enctype="multipart/form-data">

            <br>
            <div class="wrap-input100 validate-input" data-validate="Ingrese el Nombre de la Obra">
                <span class="label-input100">Nombre</span>
                <input class="input100" type="text" name="nombre" placeholder="nombre">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <br>
            <div class="wrap-input100 validate-input" data-validate="Ingrese el genero">
                <span class="label-input100">Tipo Multimedia</span>
                <br>
                <select class="combo" name="multimedia" id="tipoMult" onchange="OnChange()">
                    <option class="in2">-- Tipo de Multimedia --</option>
                    <option class="in2" value='1'>Video</option>
                    <option class="in2" value='0'>Imagen</option>
                </select>
            </div>
            <br>
            <div id= 'video' class="wrap-input100 validate-input hidden" data-validate=" Ingrese el link" >
                <span class="label-input100">Coloca el link del Video</span>
                <br>
                <input class="combo" type="url" name="video" placeholder="URL multimedia">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
                <br>
            </div>
            <div data-validate=" Ingrese el link" class ='hidden' id='foto'>
                <label  for="archivo">
                    <span>Agregar Foto</span>
                    <input type="file" id="archivo" name="archivo" style="display:none">
                </label>
                <br><br><br>
            </div>
            <div class="wrap-input100 validate-input " data-validate=" Ingrese la descripcion" >
                <span class="label-input100" >Descripcion</span>
                <br>
                <textarea class="combo" name="descripcion"  rows="3"></textarea>
            </div>
            <br>
            <div class="wrap-input100 validate-input" data-validate="Ingrese el genero">
                <span class="label-input100">Género</span>
                <br>
                <select class="combo" name="genero" id="genero">
                    <option class="in2" value="Tragedia">Tragedia</option>
                    <option class="in2" value="Comedia">Comedia</option>
                    <option class="in2" value="Drama">Drama</option>
                    <option class="in2" value="Tragicomedia">Tragicomedia</option>
                    <option class="in2" value="Monologo">Monólogo</option>
                </select>
            </div>
            <br>
            <div class="wrap-input100 validate-input" data-validate=" Ingrese nombre del autor">
                <span class="label-input100">Autor</span>
                <input class="input100" type="text" name="autor" placeholder="autor">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <br>
            <div class="wrap-input100 validate-input" data-validate=" Ingrese la fecha">
                <span class="label-input100">Fecha Estreno</span>
                <br>
                <input class="combo" type="date"  name="fecha" aria-describedby="fechaHelp" placeholder="Ingrese la fecha">
            </div>

            <br>
            <div class="wrap-input100 validate-input" data-validate=" Ingrese la hora">
                <span class="label-input100">Hora</span>
                <br>
                <input type="time" class="combo" name="hora" aria-describedby="horaHelp" placeholder="Ingrese la hora">
            </div>

            <br>
            <div class="wrap-input100 validate-input" data-validate=" Ingrese nombre el lugar">
                <span class="label-input100">Lugar Estreno</span>
                <input class="input100" type="text" name="lugar" placeholder="lugar">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <br>
            <div class="wrap-input100 validate-input" data-validate=" Ingrese nombre el lugar">
                <span class="label-input100">Precio Boleto</span>
                <input class="input100" type="text" name="precio" placeholder="precio">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <!--            <br>
                        <div class="wrap-input100 validate-input" data-validate="Ingrese el genero">
                            <span class="label-input100">Elenco</span>
                            <br>
                            <select multiple size="2" class="combo" name="elenco" id="genero">
                                {{#each actors}}
                                <option class="" value="{{id_actor}}">{{persona.nombre}}</option>
                                {{/each}}
                            </select>
                        </div>-->
            <br>
            <div class="flex-col-c p-t-30">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <br>
                    <button class="login100-form-btn" >
                        Registrar
                    </button>
                </div>
            </div>
            <br>
        </form>
    </div>

</section>

<script>
    var j = jQuery.noConflict();
    j().ready(function () {
        j("#fomr_Registro").validate({
            rules: {
                nombre: {
                    required: true,
                    minlength: 3
                },
                multimedia: {
                    required: true
                },
                descripcion: {
                    required: true,
                    minlength: 5
                },
                genero: {
                    required: true
                },
                autor: {
                    required: true,
                    minlength: 5
                },
                fecha: {
                    required: true
                },
                hora: {
                    required: true
                },
                lugar: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                nombre: {
                    required: "Ingrese el nombre de la obra",
                    minlength: "Minimo 3 caracteres"
                },
                multimedia: {
                    required: "Ingrese la url"
                },
                descripcion: {
                    required: "Ingrese su nombre",
                    minlength: "Minimo 5 caracteres"
                },
                genero: {
                    required: "Ingrese el genero"
                },
                autor: {
                    required: "Ingrese el nombre del autor",
                    minlength: "Minimo 5 caracteres"
                },
                fecha: {
                    required: "Ingrese la fecha"
                },
                hora: {
                    required: "Ingrese la hora"
                },
                lugar: {
                    required: "Ingrese el lugar",
                    minlength: "Minimo 5 caracteres"
                }
            }
        });
    });

    function OnChange() {
        var tipo = $('#tipoMult').val();
        if (tipo == 1) {
            console.log('video');
            $('#foto').addClass('hidden');
            $('#video').removeClass('hidden');
        } else if (tipo == 0) {
            $('#foto').removeClass('hidden');
            $('#video').addClass('hidden');
        } else {
            $('#foto').addClass('hidden');
            $('#video').addClass('hidden');
        }
    }

</script>
