<!DOCTYPE HTML>
<html>
    <head>
        <title>{{{titulo}}}</title>        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" type="text/css"  href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"></script>
        <link rel="stylesheet" type="text/css"  href="/css/listas.css">
        <link rel="stylesheet" type="text/css"  href="/css/nav.css">
        <style>
        </style>
    </head>
    <body>

        <!-- Nav -->

        {{#if usuario}} 
        {{> nav_Usuario}}
        {{/ if}} 

        {{#if asistente}} 
        {{> nav_Asistente}}
        {{/ if}} 

        {{#if productor}} 
        {{> nav_Productor}}
        {{/ if}}

        {{#if director}} 
        {{> nav_Director}}
        {{/ if}} 

        {{#if actor}} 
        {{> nav_Actor}}
        {{/ if}} 

        {{#if nadie}} 
        {{> nav}}
        {{/ if}} 

        {{#if editActor}}
        {{> editar_Actor}}
        {{else}}  
        {{> listar_Actor }}
        {{/ if}}



        {{> footer  }}

        <!-- Scripts -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
        <!--        <script src="/assets/js/jquery_validation.js"></script>
                <script src="/assets/js/utiles.js"></script>-->

    </body>
</html>


